:root{
	--color-bg: #e9e7cc /* 米白 */;
	--color-secondary: #dd7a5a /* 珊瑚橘 */;
	--color-accent: #cf3b08 /* 紅橘 */;

	--color-fg: black;
	--color-fg-light: #666;
	--color-light: white;

	--font-family: "Finlandica Text", sans-serif;
	--font-family-title: "Bungee", sans-serif;
	--font-size: 1rem;
	--line-height: 1.5;
}

body {
	font-size: calc(var(--font-size)*1.4);
	color: var(--color-fg);
	background-color: var(--color-bg);
	margin-inline: calc(var(--font-size)*6);
}

.op-ed{
	text-align: center;
	margin-block-start: var(--font-size);

	color: var(--color-accent);
	font-weight: 600;
}

h1 {
	color: var(--color-accent);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: normal;
	font-size: calc(var(--font-size)*5);
	text-transform: uppercase;
	text-align: center;
}

.dek {
	color: var(--color-accent);
	font-family: var(--font-family);
	font-weight: 500;
	font-style: normal;
	font-size: calc(var(--font-size)*1.6);
	text-align: center;
	margin-block: var(--font-size);
	padding-block: calc(var(--font-size)*1.5);
	border-block: calc(var(--font-size)*0.2) solid var(--color-fg);
}

dl{
	text-align: center;
	margin-block: calc(var(--font-size)*2);
}

dt, dd {
	display: inline-block;
	font-weight: 500;
}

#published::before {
    content: "·";
	margin-inline-end: 0.4em;
}

#reading-aiga{
	margin-block-end: var(--font-size);

}

main p:not(blockquote p), footer p{
	margin-inline: calc(var(--font-size)*15);
	margin-block-end: var(--font-size);
}

nav {
	text-align: center;
}

li{
	display: inline-block;
}

blockquote{
	font-size: calc(var(--font-size)*2.5);
	font-weight:700;
	margin-inline: calc(var(--font-size)*15);
	margin-block: calc(var(--font-size)*2);
	border-inline-start: calc(var(--font-size)*2.5) solid var(--color-accent);
	padding-inline:var(--font-size);
	padding-block: var(--font-size);
}

h2 {
	text-align: center;
	border-block-end:calc(var(--font-size)*0.5)double var(--color-fg);
	margin-inline: var(--font-size);
	color: var(--color-accent);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: normal;
	font-size: calc(var(--font-size)*3);
}

.author_emphasis {
	color:var(--color-accent);
	font-weight: 900;
}

mark{
	background-color: var(--color-secondary);
}

.response_nav, .article_nav{
	font-size: calc(var(--font-size)*1.2);
}

.response_nav{
	position: fixed;
	inset-block-start: var(--font-size);
    inset-inline-end: var(--font-size);
}

.article_nav{
	position: fixed;
	inset-block-end: var(--font-size);
	inset-inline-end: var(--font-size);
}


footer {
	text-align:center;
}
