:root{
	--color-bg: #e9e7cc /* 米白 */;
	--color-secondary: #dd7a5a /* 珊瑚橘 */;
	--color-accent: #cf3b08 /* 紅橘 */;

	--color-fg: black;
	--color-fg-light: #666;
	--color-light: white;

	--font-family: "Finlandica Text", sans-serif;
	--font-family-title: "Bungee", sans-serif;
	--font-size: 1rem;
	--line-height: 1.5;
}

body {
	font-size: calc(var(--font-size)*1.4);
	color: var(--color-fg);
	background-color: var(--color-bg);
	margin-inline: calc(var(--font-size)*6);
}

.op-ed{
	text-align: center;
	margin-block-start: var(--font-size);

	color: var(--color-accent);
	font-weight: 600;
}

h1 {
	color: var(--color-accent);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: normal;
	font-size: calc(var(--font-size)*5);
	text-transform: uppercase;
	text-align: center;
}

.dek {
	color: var(--color-accent);
	font-family: var(--font-family);
	font-weight: 550;
	font-style: normal;
	font-size: calc(var(--font-size)*1.6);
	text-align: center;
	margin-block: var(--font-size);
	padding-block: calc(var(--font-size)*1.5);
	border-block: calc(var(--font-size)*0.2) solid var(--color-fg);
}

dl{
	text-align: center;
	margin-block: calc(var(--font-size)*2);
}

dt, dd {
	display: inline-block;
	font-weight: 500;
}

#published::before {
    content: "·";
	margin-inline-end: 0.4em;
}

#reading-aiga{
	margin-block-end: var(--font-size);

}

main p:not(blockquote p), footer p{
	margin-inline: calc(var(--font-size)*18);
	margin-block-end: var(--font-size);
	line-height: calc(var(--line-height)*1.4);
	font-weight: 450;
}

nav {
	text-align: center;
}

li{
	display: inline-block;
}

blockquote{
	font-size: calc(var(--font-size)*2.5);
	font-weight:700;
	margin-inline: calc(var(--font-size)*15);
	margin-block: calc(var(--font-size)*2);
	border-inline-start: calc(var(--font-size)*2.5) solid var(--color-accent);
	padding-inline:var(--font-size);
	padding-block: var(--font-size);
}

h2 {
	text-align: center;
	border-block-end:calc(var(--font-size)*0.5)double var(--color-fg);
	margin-inline: var(--font-size);
	color: var(--color-accent);
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: normal;
	font-size: calc(var(--font-size)*3);
}

.author_emphasis {
	color:var(--color-accent);
	font-weight: 900;
}

mark{
	background-color: var(--color-secondary);
}

.response_nav, .article_nav{
	font-size: calc(var(--font-size)*1.2);
}

.response_nav{
	position: fixed;
	inset-block-start: var(--font-size);
    inset-inline-end: var(--font-size);
}

.article_nav{
	position: fixed;
	inset-block-end: var(--font-size);
	inset-inline-end: var(--font-size);
}


footer {
	text-align:center;
}

/* pseudo element */

body::selection {
	background-color: var(--color-secondary);
}

a{
	border-block-end: calc(var(--font-size)*0.3) solid var(--color-secondary);
	font-weight: 600;
}

a:hover{
	color:#cf3b08;
}

/*the q placard of I AM A MAN*/
#i_am_a_man:hover{
	color:var(--color-secondary);
	background-color:var(--color-fg);
}

body:has(#i_am_a_man:active) * {
	color: transparent;
	background-color: transparent;
	border-color:transparent;
}

body:has(#i_am_a_man:active)::after{
	content: "I AM A MAN";
	font-size: calc(var(--font-size)*20);
	font-weight: 700;
	font-family: "Roboto Condensed", sans-serif;
	line-height: calc(var(--line-height)*0.5);
	padding-inline: 20%;
	position: fixed;
	padding-block-start:var(--font-size);
	inset:0;
	text-align: center;
	background-color:var(--color-bg);
	z-index: 1;
}

/*afriCobra*/
body:has(#link_africobra:active) {
	background-color:#2e263e;
}
body:has(#link_africobra:active) * {
	color: #e8c958;
	border-color:#ae301e;
}

body:has(#link_africobra:active) mark {
	background-color: #3579a8;
}

/*people graphic design archive*/
body:has(#link_pgda:active) {
	background-color: white;
}
body:has(#link_pgda:active) * {
	color: #24045b;
	border-color:#24045b;
	font-family: "Gloria Hallelujah", cursive;
}

body:has(#link_pgda:active) mark {
	background-color: #7cfe4e;
	font-family: "Isometra", serif;
}

body:has(#link_pgda:active) a {
	font-family: "Isometra", serif;
}

/*gees band quilters*/
body:has(#link_quilters:active) {
	background-color: white;
}
body:has(#link_quilters:active) * {
	color: #24045b;
	border-color:#24045b;
	font-family: "Gloria Hallelujah", cursive;
}

body:has(#link_quilters:active) mark {
	background-color: #7cfe4e;
	font-family: "Isometra", serif;
}

body:has(#link_quilters:active) a {
	font-family: "Isometra", serif;
}


